<link href="/assets/css/dashboard.css" rel="stylesheet" type="text/css" />

<top-nav-bar></top-nav-bar>

<div class="col-12">
    <div class="row h-100">
        <left-nav-bar></left-nav-bar>

        <main role="main" class="col-lg-10 col-xl-11 offset-lg-2 offset-xl-1 p-0" atatiki-template-transclude>
        </main>
    </div>
</div>
