<link href="/assets/css/calendar.css" rel="stylesheet" type="text/css" />

<div class="d-lg-flex">
    <div class="bg-light flex-grow-0">
        <dashboard-calendar class="calendar"></dashboard-calendar>
    </div>
    <div class="bg-light-2 text-dark flex-grow-1" id="dashboardcontent">
        <div class="container-fluid" atatiki-template-transclude>
        </div>
    </div>
</div>
