<loader loader="loader" loading-message="'Loading your notifications, please wait...'">
    <h2 class="text-center">Notifications</h2>
    <div class="container">
        <div class="row" ng-show="loader.data.data.length > 0">
            <div class="col-12 p-4" ng-repeat="entry in loader.data.data track by $index" ng-class="background (entry, $index)">
                <div class="row">
                    <div class="col-12">
                        <h6 ng-if="entry ['message'] == 'EVENT_CONFIRMED'">
                            The booking for '{{ entry ['info'] ['eventSubject'] }}' has been confirmed
                            <span ng-if="!$root.isStudent ()">
                                by the
                                <span ng-if="$root.isTutor ()">parent</span><span ng-if="$root.isParent ()">tutor</span>
                            </span>
                        </h6>
                        <h6 ng-if="entry ['message'] == 'EVENT_NOT_CONFIRMED'">
                            The booking for '{{ entry ['info'] ['eventSubject'] }}' has been cancelled
                            <span ng-if="!$root.isStudent ()">
                                by the
                                <span ng-if="$root.isTutor ()">parent</span><span ng-if="$root.isParent ()">tutor</span>
                            </span><br />
                            Reason: {{ entry ['info'] ['reason'] }}
                        </h6>
                        <h6 ng-if="entry ['message'] == 'EVENT_WAITING_CONFIRMATION'">
                            A new booking has been requested '{{ entry ['info'] ['eventSubject'] }}'
                            <span ng-if="!$root.isStudent ()">
                                by the
                                <span ng-if="$root.isTutor ()">parent</span><span ng-if="$root.isParent ()">tutor</span>
                            </span>
                        </h6>
                        <h6 ng-if="entry ['message'] == 'EVENT_UPDATE_REQUEST'">
                            The booking '{{ entry ['info'] ['eventSubject'] }}' has been updated
                            <span ng-if="!$root.isStudent ()">
                                by the
                                <span ng-if="$root.isTutor ()">parent</span><span ng-if="$root.isParent ()">tutor</span>
                            </span>
                        </h6><br />
                        <p>{{ entry ['info'] ['eventDate'] }}, {{ entry ['info'] ['eventStart'] }} - {{ entry ['info'] ['eventEnd'] }}</p>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-12">
                        <a class="btn btn-sm btn-primary" href="#" ng-click="gotoEvent (entry ['info'] ['eventId'], entry ['guid'])">Go to event <span class="fa fa-chevron-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" ng-show="loader.data.data.length == 0">
            <div class="row">
                <div class="col-12">
                    <p class="alert alert-warning">You do not have any pending notifications</p>
                </div>
            </div>
        </div>
    </div>
</loader>
