<div class="chat-messages">
    <div class="chat-title">
        <img src="https://via.placeholder.com/48x48" class="contact-picture" /> TUTOR NAME AS TITLE
    </div>
    <div class="chat-content">
        <div class="chat-message chat-remote">
            This is a teacher's message
            <div class="text-right text-white-50">03:00 PM</div>
        </div>
        <div class="clearfix"></div>
        <div class="chat-message chat-user">
            This is a user's message
            <div class="text-right text-white-50">03:02 PM</div>
        </div>
        <div class="clearfix"></div>
        <div class="chat-message chat-user">
            This is a user's message
            <div class="text-right text-white-50">03:10 PM</div>
        </div>
        <div class="clearfix"></div>
        <div class="chat-message chat-user">
            This is a user's message
            <div class="text-right text-white-50">03:15 PM</div>
        </div>
        <div class="clearfix"></div>
        <div class="chat-message chat-user">
            This is a user's message
            <div class="text-right text-white-50">03:20 PM</div>
        </div>
        <div class="clearfix"></div>
        <div class="chat-message chat-remote">
            This is a teacher's message
            <div class="text-right text-white-50">03:25 PM</div>
        </div>
        <div class="clearfix"></div>
        <div class="chat-message chat-remote">
            This is a teacher's message
            <div class="text-right text-white-50">03:35 PM</div>
        </div>
        <div class="clearfix"></div>
        <div class="chat-message chat-remote">
            This is a teacher's message
            <div class="text-right text-white-50">03:50 PM</div>
        </div>
        <div class="clearfix"></div>
        <div class="chat-message chat-user attachment">
            <div class="download-container">
                <span class="attachment-icon">
                    <span class="fa fa-file-pdf"></span>
                </span>
                <span class="attachment-text">This is a file<br /><small class="text-muted">
                    <span class="fa fa-download"></span> Click here to download</small></span>
            </div>
            <div class="text-right text-white-50">03:50 PM</div>
        </div>
    </div>
    <div class="chat-message-entry">
        <input type="text" /><button class="form-control-lg text-dark"><span class="fa fa-send"></span></button>
        <div class="clearfix"></div>
    </div>
</div>
