<div>
    <nav class="chat-switcher navbar navbar-dark bg-dark text-light">
        <a class="navbar-brand" data-toggle="collapse" data-target=".chat-contacts">
            <span class="navbar-toggler-icon"></span> Contact list
        </a>
    </nav>
    <div class="chat-contacts">
        <div class="chat-container active">
            <img src="https://via.placeholder.com/48x48" class="contact-picture" />
            <strong>Tutor name selected</strong>
        </div>
        <div class="chat-container">
            <img src="https://via.placeholder.com/48x48" class="contact-picture" />
            <strong>Tutor name</strong>
        </div>
        <div class="chat-container notification">
            <img src="https://via.placeholder.com/48x48" class="contact-picture" />
            <strong>Tutor name with messages</strong>
        </div>
        <div class="chat-container">
            <img src="https://via.placeholder.com/48x48" class="contact-picture" />
            <strong>Tutor name</strong>
        </div>
        <div class="chat-container">
            <img src="https://via.placeholder.com/48x48" class="contact-picture" />
            <strong>Tutor name</strong>
        </div>
        <div class="chat-container">
            <img src="https://via.placeholder.com/48x48" class="contact-picture" />
            <strong>Tutor name</strong>
        </div>
        <div class="chat-container">
            <img src="https://via.placeholder.com/48x48" class="contact-picture" />
            <strong>Tutor name</strong>
        </div>
        <div class="chat-container">
            <img src="https://via.placeholder.com/48x48" class="contact-picture" />
            <strong>Tutor name</strong>
        </div>
        <div class="chat-container">
            <img src="https://via.placeholder.com/48x48" class="contact-picture" />
            <strong>Tutor name</strong>
        </div>
        <div class="chat-container">
            <img src="https://via.placeholder.com/48x48" class="contact-picture" />
            <strong>Tutor name</strong>
        </div>
        <div class="chat-container">
            <img src="https://via.placeholder.com/48x48" class="contact-picture" />
            <strong>Tutor name</strong>
        </div>
        <div class="chat-container">
            <img src="https://via.placeholder.com/48x48" class="contact-picture" />
            <strong>Tutor name</strong>
        </div>
        <div class="chat-container">
            <img src="https://via.placeholder.com/48x48" class="contact-picture" />
            <strong>Tutor name</strong>
        </div>
    </div>
</div>
