<link href="/assets/css/messaging.css" rel="stylesheet" type="text/css" />

<loader loader="loader">
    <section-container>
        <h1 class="text-center mb-2">Messages</h1>
        <div class="row">
            <div class="col-12">
                <contact-list></contact-list>
                <chat-content></chat-content>
            </div>
        </div>
    </section-container>
</loader>
