<schedule-new-event></schedule-new-event>

<div class="row text-center text-md-right" ng-show="$root.isTutor () || $root.isParent ()">
    <div class="col-12">
        <a href="#" class="btn btn-outline-danger my-2" ng-click="openScheduleNewEvent ()"><span class="fa fa-calendar-o"></span> Book a new session</a>
    </div>
</div>

<!-- TODO: SEPARATE THE ACTUAL CONTENT OF EACH ENTRY IN THE DASHBOARD TO IT'S OWN HTML AND DIRECTIVE -->
<loader loader="loader">
    <div ng-show="mode == 'date'">
        <pagination max-records="loader.data.data.count" records-per-page="loader.data.data.recordsPerPage" goto-page-callback="gotoPage" current-record="0"></pagination>
        <section-title>{{ date | amDateFormat: 'dddd, MMMM Do YYYY' }}</section-title>
        <section-content ng-show="loader.data.data.data.length > 0">
            <div class="col-12 border-bottom pb-2" ng-repeat="entry in loader.data.data.data" ng-class="{'col-md-6': loader.data.data.data.length > 1}">
                <div class="row">
                    <div class="col-12" ng-class="{'col-md-4': $root.isParent (), 'col-md-6': !$root.isParent ()}">
                        <small>Schedule</small><br />
                        <strong>{{ entry ['Ev101_StartTime'] }}</strong> - <strong>{{ entry ['Ev102_EndTime'] }}</strong>
                    </div>
                    <div class="col-12" ng-if="!$root.isStudent ()" ng-class="{'col-md-4': $root.isParent (), 'col-md-6': !$root.isParent ()}">
                        <small>Student</small><br />
                        <strong>{{ entry ['Ev203_StudentRelated_c'] }} {{ entry ['Ev204_FamilyStudentRelated_c'] }}</strong>
                    </div>
                    <div class="col-12" ng-if="!$root.isTutor ()" ng-class="{'col-md-4': $root.isParent (), 'col-md-6': !$root.isParent ()}">
                        <small>Tutor</small><br />
                        <strong>{{ entry ['Ev202_TutorRelated_c'] }}</strong>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        {{ entry ['Ev103_Subject'] }}
                        <small>
                            <span class="text-danger" ng-show="entry ['Ev105_Status_ac'] == 'Not confirmed'">Not confirmed</span>
                            <span class="text-danger" ng-show="entry ['Ev105_Status_ac'] == 'Canceled within 24h'">Canceled within 24 hours</span>
                            <span class="text-warning" ng-show="entry ['Ev105_Status_ac'] == 'Waiting parent\'s confirmation'">
                                <span ng-show="$root.isTutor () || $root.isStudent ()">Waiting for parent's confirmation</span>
                                <span ng-show="$root.isParent ()">Waiting for your confirmation</span>
                            </span>
                            <span class="text-warning" ng-show="entry ['Ev105_Status_ac'] == 'Waiting tutor\'s confirmation'">
                                <span ng-show="$root.isTutor ()">Waiting for your confirmation</span>
                                <span ng-show="$root.isParent () || $root.isStudent ()">Waiting for tutor's confirmation</span>
                            </span>
                            <span class="text-success" ng-show="entry ['Ev105_Status_ac'] == 'Confirmed'">Confirmed</span>
                        </small><br />
                    </div>
                    <div class="col-12">
                        <small>{{ entry ['Ev104_Description'] }}</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="#" class="btn btn-dark btn-block" ng-click="details (entry)">Click here to add files & notes</a>
                    </div>
                </div>
            </div>
        </section-content>
        <section-content ng-show="loader.data.data.count == 0">
            <div class="col-12">
                <p class="alert alert-info">You have no upcoming sessions</p>
            </div>
        </section-content>
    </div>
    <div ng-show="mode == 'feed'">
        <pagination max-records="loader.data.data.count" records-per-page="loader.data.data.recordsPerPage" goto-page-callback="gotoPage" current-record="0"></pagination>
        <p>Showing appointments for the next 2 weeks</p>
        <section-content ng-show="loader.data.feed.length > 0">
            <div ng-repeat="element in loader.data.feed" class="col-12">
                <section-title ng-if="element.type == 'date'">{{ element.moment | amDateFormat: 'dddd, MMMM Do YYYY' }}</section-title>
                <div class="col-12 border-bottom pb-2" ng-if="element.type == 'entry'">
                    <div class="row text-lg-left text-center">
                        <div class="col-12" ng-class="{'col-md-4': $root.isParent (), 'col-md-6': !$root.isParent ()}">
                            <small class="text-muted">Schedule</small><br />
                            <strong>{{ element.data ['Ev101_StartTime'] }}</strong> - <strong>{{ element.data ['Ev102_EndTime'] }}</strong>
                        </div>
                        <div class="col-12" ng-if="!$root.isStudent ()" ng-class="{'col-md-4': $root.isParent (), 'col-md-6': !$root.isParent ()}">
                            <small class="text-muted">Student</small><br />
                            <strong>{{ element.data ['Ev203_StudentRelated_c'] }} {{ element.data ['Ev204_FamilyStudentRelated_c'] }}</strong>
                        </div>
                        <div class="col-12" ng-if="!$root.isTutor ()" ng-class="{'col-md-4': $root.isParent (), 'col-md-6': !$root.isParent ()}">
                            <small class="text-muted">Tutor</small><br />
                            <strong>{{ element.data ['Ev202_TutorRelated_c'] }}</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-2">
                            <small class="text-muted">Information</small>
                        </div>
                        <div class="col-12">
                            {{ element.data ['Ev103_Subject'] }}
                            <small>
                                <span class="text-danger" ng-show="element.data ['Ev105_Status_ac'] == 'Not confirmed'">Not confirmed</span>
                                <span class="text-danger" ng-show="element.data ['Ev105_Status_ac'] == 'Canceled within 24h'">Canceled within 24 hours</span>
                                <span class="text-warning" ng-show="element.data ['Ev105_Status_ac'] == 'Waiting parent\'s confirmation'">
                                    <span ng-show="$root.isTutor () || $root.isStudent ()">Waiting for parent's confirmation</span>
                                    <span ng-show="$root.isParent ()">Waiting for your confirmation</span>
                                </span>
                                <span class="text-warning" ng-show="element.data ['Ev105_Status_ac'] == 'Waiting tutor\'s confirmation'">
                                    <span ng-show="$root.isTutor ()">Waiting for your confirmation</span>
                                    <span ng-show="$root.isParent () || $root.isStudent ()">Waiting for tutor's confirmation</span>
                                </span>
                                <span class="text-success" ng-show="element.data ['Ev105_Status_ac'] == 'Confirmed'">Confirmed</span>
                            </small><br />
                            <small>{{ element.data ['Ev104_Description'] }}</small>
                        </div>
                        <div class="col-12 mt-2">
                            <a href="#" class="btn btn-dark btn-block" ng-click="details (element.data)">Click here to add files & notes</a>
                        </div>
                    </div>
                </div>
            </div>
        </section-content>
        <section-content ng-show="loader.data.feed.length == 0">
            <div class="col-12">
                <p class="alert alert-info">
                    There are no events in the feed
                </p>
            </div>
        </section-content>
    </div>
</loader>
