<new-note></new-note>
<upload-new-file></upload-new-file>
<update-booking></update-booking>

<bt-modal id="question-file" size="'big'">
    <bt-modal-header bt-can-close="true" bt-title="'Remove file?'"></bt-modal-header>
    <bt-modal-content>Are you sure you want to remove "{{ fileToRemove ['Fi300_FileName_c'] }}"</bt-modal-content>
    <bt-modal-footer>
        <a href="#" class="btn btn-success" ng-click="doRemoveFile ()" data-dismiss="modal">Remove</a>
        <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
    </bt-modal-footer>
</bt-modal>

<bt-modal id="accept-booking" size="'big'">
    <bt-modal-header bt-can-close="true" bt-title="'Do you want to confirm the booking?'"></bt-modal-header>
    <bt-modal-content ng-show="confirmStep == 1">Are you sure you want to confirm the booking of "{{ loader.data.data.event ['Ev103_Subject'] }}"</bt-modal-content>
    <bt-modal-content ng-show="confirmStep == 2"><loader loader="{'status': 'loading'}"></loader></bt-modal-content>
    <bt-modal-content ng-show="confirmStep == 3"><p class="alert alert-success">Confirmation performed correctly</p></bt-modal-content>
    <bt-modal-content ng-show="confirmStep == 4"><p class="alert alert-danger">Error confirming booking, please try again later</p></bt-modal-content>
    <bt-modal-footer ng-show="confirmStep == 1">
        <a href="#" class="btn btn-success" ng-click="confirmSchedule ()">Confirm</a>
        <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
    </bt-modal-footer>
    <bt-modal-footer ng-show="confirmStep >= 3">
        <a href="#" class="btn btn-success" data-dismiss="modal">Ok</a>
    </bt-modal-footer>
</bt-modal>

<bt-modal id="cancel-booking" size="'big'">
    <bt-modal-header bt-can-close="true" bt-title="'Do you want to cancel the appointment?'"></bt-modal-header>
    <bt-modal-content ng-show="cancelStep == 1">
        <span class="text-danger" ng-hide="reject.diff < 86400">If so, what's the reason for the cancellation?<br /></span>
        <span class="text-danger" ng-show="reject.diff < 86400">The appointment that you are going to cancel is in less than 24h. The appointment can be canceled, but you will be invoiced anyway. Are you sure you want to continue?</span>
        <form>
            <select ng-model="reject.reason" ng-options="reason.Cnr100_Name for reason in cancellation.reasons" class="form-control form-control-lg" placeholder="Reason"></select>
        </form>
    </bt-modal-content>
    <bt-modal-content ng-show="cancelStep == 2"><loader loader="{'status': 'loading'}"></loader></bt-modal-content>
    <bt-modal-content ng-show="cancelStep == 3"><p class="alert alert-success">Appointment successfully cancelled.</p></bt-modal-content>
    <bt-modal-content ng-show="cancelStep == 4"><p class="alert alert-danger">Error cancelling appointment, please try again later</p></bt-modal-content>
    <bt-modal-footer ng-show="cancelStep == 1">
        <a href="#" class="btn btn-success" ng-class="{'disabled': reject.reason == ''}" ng-click="cancelSchedule ()">Confirm cancellation</a>
        <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
    </bt-modal-footer>
    <bt-modal-footer ng-show="cancelStep >= 3">
        <a href="#" class="btn btn-success" data-dismiss="modal">Ok</a>
    </bt-modal-footer>
</bt-modal>

<loader loader="loader">
    <div class="row">
        <div class="col-12 p-0">
            <a href="#" class="btn btn-dark btn-top w-100 border-top-radius-0" ng-click="goback ()"><span class="fa fa-arrow-left"></span> Go back</a>
        </div>
        <div class="col-12 p-0" ng-class="topActionsSize ()" ng-show="($root.isParent () && loader.data.data.event ['Ev105_Status_ac'] == 'Waiting parent\'s confirmation') || ($root.isTutor () && loader.data.data.event ['Ev105_Status_ac'] == 'Waiting tutor\'s confirmation')">
            <a href="#" class="btn btn-success btn-top w-100 border-top-radius-0" ng-click="openConfirm ()"><span class="fa fa-check"></span> Confirm booking</a>
        </div>
        <div class="col-12 p-0" ng-class="topActionsSize ()" ng-show="$root.isParent () || $root.isTutor ()">
            <a href="#" class="btn btn-warning btn-top w-100 border-top-radius-0" ng-click="rescheduleEvent ()"><span class="fa fa-pencil"></span> Re-schedule booking</a>
        </div>
        <div class="col-12 p-0" ng-class="topActionsSize ()" ng-show="$root.isParent () || $root.isTutor ()">
            <a href="#" class="btn btn-danger btn-top w-100 border-top-radius-0" ng-click="openCancel ()"><span class="fa fa-times"></span> Cancel booking</a>
        </div>
        <div class="col-12 p-0" ng-class="topActionsSize ()" ng-show="$root.isParent () && loader.data.data.event ['_id_Contract'] != ''">
            <a href="#" class="btn btn-primary btn-top w-100 border-top-radius-0" ng-click="gotoContract ()"><span class="fa fa-file"></span> See contract details</a>
        </div>
    </div>
    <section-title>{{ loader.data.data.event ['Ev103_Subject'] }}</section-title>
    <section-content>
        <div class="col-12 border-bottom pb-2">
            <div class="row text-center">
                <div class="col-4" ng-class="{'col-xl-3': !$root.isTutor ()}">
                    <small class="text-muted">Status</small><br />
                    <span class="text-danger" ng-show="loader.data.data.event ['Ev105_Status_ac'] == 'Not confirmed'">Not confirmed</span>
                    <span class="text-danger" ng-show="loader.data.data.event ['Ev105_Status_ac'] == 'Canceled within 24h'">Canceled within 24 hours</span>
                    <span class="text-warning" ng-show="loader.data.data.event ['Ev105_Status_ac'] == 'Waiting parent\'s confirmation'">
                        <span ng-show="$root.isTutor () || $root.isStudent ()">Waiting for parent's confirmation</span>
                        <span ng-show="$root.isParent ()">Waiting for your confirmation</span>
                    </span>
                    <span class="text-warning" ng-show="loader.data.data.event ['Ev105_Status_ac'] == 'Waiting tutor\'s confirmation'">
                        <span ng-show="$root.isTutor ()">Waiting for your confirmation</span>
                        <span ng-show="$root.isParent () || $root.isStudent ()">Waiting for tutor's confirmation</span>
                    </span>
                    <span class="text-success" ng-show="loader.data.data.event ['Ev105_Status_ac'] == 'Confirmed'">Confirmed</span>
                </div>
                <div class="col-4" ng-class="{'col-xl-3': !$root.isTutor ()}">
                    <small class="text-muted">Date</small><br />
                    <strong>{{ loader.data.data.event ['Ev100_Date'] }}</strong>
                </div>
                <div class="col-4" ng-class="{'col-xl-3': !$root.isTutor ()}">
                    <small class="text-muted">Time</small><br />
                    <strong>{{ loader.data.data.event ['Ev101_StartTime'] }}</strong> - <strong>{{ loader.data.data.event ['Ev102_EndTime'] }}</strong><br />
                </div>
                <div class="col-12 col-xl-3" ng-if="!$root.isTutor ()">
                    <small class="text-muted">Student</small><br />
                    <strong>{{ loader.data.data.event ['Ev203_StudentRelated_c'] }}</strong>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <p class="alert alert-danger" ng-show="loader.data.data.event ['Ev107_CancellationReason'] != ''">
                        <strong>Cancellation reason</strong>: {{ loader.data.data.event ['Ev107_CancellationReason'] }}
                    </p>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <div class="jumbotron alert-dark py-md-5">
                        <h6>{{ loader.data.data.event ['Ev103_Subject'] }}</h6>
                        <hr class="my-2" />
                        <p style="white-space: pre-line">
                            {{ loader.data.data.event ['Ev104_Description'] }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section-content>
    <section-title ng-if="$root.isParent () || $root.isStudent ()">Tutor information</section-title>
    <section-content ng-if="$root.isParent () || $root.isStudent ()">
        <div class="col-12 border-bottom pb-2">
            <div class="row text-center">
                <div class="col-6">
                    <small class="text-muted">Name</small><br />
                    {{ loader.data.data.tutor ['Tu103_Title'] }} {{ loader.data.data.tutor ['Tu100_FirstName'] }} {{ loader.data.data.tutor ['Tu102_MidInitial'] }}. {{ loader.data.data.tutor ['Tu101_LastName'] }}
                </div>
                <div class="col-6">
                    <small class="text-muted">Department</small><br />
                    {{ loader.data.data.tutor ['Tu109_Department'] }}
                </div>
                <div class="col-12 text-left">
                    <small class="text-muted">Contact</small><br />
                    {{ loader.data.data.tutor ['Tu120_VisitingAddress1'] }}<br />
                    {{ loader.data.data.tutor ['Tu121_VisitingAddress2'] }}<br />
                    {{ loader.data.data.tutor ['Tu123_VisitingCity'] }}, {{ loader.data.data.tutor ['Tu124_VisitingState'] }}<br />
                    {{ loader.data.data.tutor ['Tu122_VisitingZipCode'] }}<br />
                </div>
                <div class="col-12">
                    <a href="#" ng-href="skype:{{ loader.data.data.tutor ['Tu142_SkypeID'] }}?chat" class="btn btn-primary"><span class="fa fa-skype"></span> Skype</a>
                    <a href="#" ng-class="{'disabled': loader.data.data.tutor ['Tu145_Email'] == ''}" ng-href="mailto:{{ loader.data.data.tutor ['Tu145_Email'] }}"class="btn btn-danger"><span class="fa fa-envelope"></span> Email</a>
                </div>
            </div>
        </div>
    </section-content>
    <section-title ng-if="$root.isTutor ()">Student information</section-title>
    <section-content ng-if="$root.isTutor ()">
        <div class="col-12 border-bottom pb-2">
            <div class="row text-center">
                <div class="col-6 col-sm-6">
                    <small class="text-muted">Name</small><br />
                    {{ loader.data.data.student ['St100_FirstName'] }} {{ loader.data.data.student ['St101_LastName'] }}
                </div>
                <div class="col-12 col-sm-6">
                    <small class="text-muted">Contact</small><br />
                    <a href="#" ng-href="skype:{{ loader.data.data.student ['St132_SkypeID'] }}?chat" class="btn btn-primary"><span class="fa fa-skype"></span> Skype</a>
                    <a href="#" ng-class="{'disabled': loader.data.data.student ['St133_Email'] == ''}" ng-href="mailto:{{ loader.data.data.student ['St133_Email'] }}"class="btn btn-danger"><span class="fa fa-envelope"></span> Email</a>
                </div>
            </div>
        </div>
    </section-content>
    <section-title>Notes</section-title>
    <section-content ng-if="loader.data.data.notes.length == 0">
        <div class="col-12">
            <p ng-if="$root.isTutor ()" class="text-center text-md-right">
                <a href="#" class="" ng-click="openNewNoteModal ()"><span class="fa fa-plus"></span> Add new note</a>
            </p>
            <p class="alert alert-light">This event doesn't have any notes yet</p>
        </div>
    </section-content>
    <section-content ng-if="loader.data.data.notes.length > 0">
        <div class="col-12 border-bottom pb-2">
            <p ng-if="$root.isTutor ()" class="text-center text-md-right">
                <a href="#" class="" ng-click="openNewNoteModal ()"><span class="fa fa-plus"></span> Add new note</a>
            </p>
            <p class="alert" ng-class="getClassForNote (note)" ng-repeat="note in loader.data.data.notes">
                <strong>{{ note ['No100_Date'] }}</strong>: {{ note ['No101_Description'] }}
            </p>
            <p ng-if="$root.isTutor ()">
                <span class="text-danger"><strong>Red</strong>: </span> Only visible to you <br class="d-md-none" />
                <span class="text-warning"><strong>Yellow</strong>: </span> Only visible to the parents <br class="d-md-none" />
                <span class="text-info"><strong>Blue</strong>: </span> Only visible to the student <br class="d-md-none" />
                <span class="text-success"><strong>Green</strong>: </span> Visible to parent and student <br class="d-md-none" />
            </p>
        </div>
    </section-content>
    <section-title>Files</section-title>
    <section-content ng-if="loader.data.data.files.length > 0">
        <div class="col-12 border-bottom pb-2">
            <p ng-if="$root.isTutor () || $root.isStudent ()" class="text-center text-md-right">
                <a href="#" class="" ng-click="openNewFileModal ()"><span class="fa fa-upload"></span> Upload new file</a>
            </p>
        </div>
        <div class="col-12" ng-repeat="entry in loader.data.data.files">
            <div class="row">
                <div class="col-12">
                    <div class="row py-3 my-1 alert-dark">
                        <div class="col-12">
                            <p class="text-right" ng-show="($root.isTutor () && entry ['_id_TutorWeb'] != '') || ($root.isStudent () && entry ['_id_StudentWeb'] != '')">
                                <strong>
                                    <a href="#" ng-click="removeFile (entry)">
                                        <span class="fa fa-times text-danger"></span>
                                    </a>
                                </strong>
                            </p>
                        </div>
                        <div class="col-12 col-xl-2">
                            <div class="file-thumbnail-container w-100" ng-switch on="entry ['Fi301_GetExtension_c']">
                                <img class="thumbnail" ng-switch-when="jpg|png" ng-switch-when-separator="|" ng-src="{{ entry ['Fi302_Thumbnail_c'] | bridge }}" />
                                <div class="thumbnail text-center" ng-switch-when="pdf">
                                    <span class="fa fa-file-pdf"></span><br />
                                    PDF file
                                </div>
                                <div class="thumbnail text-center" ng-switch-when="zip">
                                    <span class="fa fa-file-zip-o"></span><br />
                                    ZIP file
                                </div>
                                <div class="thumbnail text-center" ng-switch-when="7z">
                                    <span class="fa fa-file-zip-o"></span><br />
                                    7z file
                                </div>
                                <div class="thumbnail text-center" ng-switch-when="rar">
                                    <span class="fa fa-file-zip-o"></span><br />
                                    RAR file
                                </div>
                                <div class="thumbnail text-center" ng-switch-when="doc|docx" ng-switch-when-separator="|">
                                    <span class="fa fa-file-word"></span><br />
                                    Word Document
                                </div>
                                <div class="thumbnail text-center" ng-switch-when="xls|xlsx" ng-switch-when-separator="|">
                                    <span class="fa fa-file-excel"></span><br />
                                    Excel Document
                                </div>
                                <div class="thumbnail text-center" ng-switch-when="csv">
                                    <span class="fa fa-file-csv"></span><br />
                                    CSV File
                                </div>
                                <div class="thumbnail text-center" ng-switch-when="json">
                                    <span class="fa fa-js"></span><br />
                                    JSON File
                                </div>
                                <div class="thumbnail text-center" ng-switch-default>
                                    <span class="fa fa-file"></span><br />
                                    Other file
                                </div>
                                <br />
                                <a target="_blank" ng-href="{{ entry ['Fi100_Container'] | bridge }}" class="btn btn-sm btn-dark btn-primary w-100 border-top-radius-0"><span class="fa fa-download"></span> Download</a>
                            </div>
                        </div>
                        <div class="col-12 col-xl-10">
                            <p class="media-body pb-3 mb-0 lh-125">
                                <strong class="d-block">{{ entry ['Fi300_FileName_c'] }}</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section-content>
    <section-content ng-if="loader.data.data.files.length == 0">
        <div class="col-12 pb-2">
            <p ng-if="$root.isTutor () || $root.isStudent ()" class="text-center text-md-right">
                <a href="#" class="" ng-click="openNewFileModal ()"><span class="fa fa-upload"></span> Upload new file</a>
            </p>
        </div>
        <div class="col-12">
            <p class="alert alert-warning">
                No files uploaded
            </p>
        </div>
    </section-content>
</loader>
