<div>
    <bt-modal id="uploadfile-modal" size="'big'">
        <bt-modal-header bt-title="'Upload file'" bt-can-close="true"></bt-modal-header>
        <bt-modal-content>
            <div ng-show="isUploaded ()" class="col-12">
                <p class="alert alert-success">File uploaded correctly</p>
            </div>
            <div class="col-12" ng-show="isError ()">
                <p class="alert alert-danger">There was an error uploading the file to the event. Please try again later. If the problem persists, please contact an administrator.</p>
            </div>
            <div class="col-12" ng-show="isUploading ()">
                <p class="alert alert-light">File upload in progress, please wait...</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
            </div>
            <div class="form-group" ng-show="isWaiting ()">
                <label for="upload"><strong>Please select the file to upload</strong></label>
                <input type="file" name="upload" id="upload" class="form-control form-control-lg" />
            </div>
        </bt-modal-content>

        <bt-modal-footer>
            <button type="button" class="btn btn-primary" ng-click="performUpload ()" ng-show="isWaiting ()"><span class="fa fa-upload"></span> Upload file</button>
            <button type="button" class="btn" ng-class="{'btn-danger': isError () || isWaiting (), 'btn-success': isUploaded ()}" ng-hide="isUploading ()" data-dismiss="modal">
                <span ng-show="isUploaded () || isWaiting ()">Close</span>
                <span ng-show="isError ()">Cancel</span>
            </button>
        </bt-modal-footer>
    </bt-modal>
</div>
