<div>
    <bt-modal id="newnote-modal" size="'big'">
        <loader loader="loader">
            <bt-modal-header bt-title="'Create a new note ' + event ['Ev100_Description']" bt-can-close="true"></bt-modal-header>
            <bt-modal-content>
                <p class="alert alert-success" ng-show="noteCreated">
                    Note created successful
                </p>
                <form ng-hide="noteCreated">
                    <div class="form-group">
                        <label><strong>Date</strong></label>
                        <input type="text" class="form-control" readonly value="{{ time | amDateFormat: 'MM/DD/YYYY' }}" /><br />
                    </div>
                    <div class="form-group">
                        <label for="textareaNoteDescription"><strong>Message</strong></label>
                        <textarea class="form-control" id="textareaNoteDescription" rows="6" ng-model="data.note"></textarea>
                    </div>
                    <div class="form-group">
                        <label><h4>Visibility settings</h4></label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="visibleToParent" value="1" ng-model="data.visibleToParent" />
                        <label class="form-check-label" for="visibleToParent">Visible to parent</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="visibleToStudent" value="1" ng-model="data.visibleToStudent" />
                        <label class="form-check-label" for="visibleToStudent">Visible to student</label>
                    </div>
                </form>
            </bt-modal-content>

            <bt-modal-footer>
                <button type="button" class="btn btn-success" ng-click="createNote ()" ng-hide="noteCreated">Create note</button>
                <button type="button" class="btn" ng-class="{'btn-danger': !noteCreated, 'btn-success': noteCreated}" data-dismiss="modal">
                    <span ng-show="noteCreated">Close</span>
                    <span ng-hide="noteCreated">Cancel</span>
                </button>
            </bt-modal-footer>
        </loader>
    </bt-modal>
</div>
