<div>
    <bt-modal size="'big'" id="schedule-new-event">
        <bt-modal-header bt-can-close="true" bt-title="'Book new event'"></bt-modal-header>
        <bt-modal-content>
            <div ng-show="eventCreationStep == 1">
                <p class="alert alert-light">
                    Please choose the student you want to book a new session with
                </p>
                <loader loader="step1.loader">
                    <div ng-show="step1.loader.data.data.data.length == 0">
                        <p class="alert alert-danger">
                            There are no contracts available right now
                        </p>
                    </div>
                    <div ng-show="step1.loader.data.data.data.length > 0">
                        <pagination max-records="step1.loader.data.data.count" records-per-page="step1.loader.data.data.recordsPerPage" goto-page-callback="step1.goto" current-record="0"></pagination>
                        <table class="table-striped table table-hover d-none d-lg-table">
                            <thead>
                                <tr class="text-center">
                                    <th></th>
                                    <!--
                                    <th>{{ 'CONTRACTS.HEADERS.NUMBER' | translate }}</th>
                                    <th>{{ 'CONTRACTS.HEADERS.STARTDATE' | translate }}</th>
                                    <th>{{ 'CONTRACTS.HEADERS.ENDDATE' | translate }}</th>
                                    <th>{{ 'CONTRACTS.HEADERS.STATUS' | translate }}</th>
                                    -->
                                    <th ng-if="$root.isParent ()">{{ 'CONTRACTS.HEADERS.TUTOR' | translate }}</th>
                                    <th>{{ 'CONTRACTS.HEADERS.STUDENT' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center" ng-repeat="entry in step1.loader.data.data.data" ng-show="entry ['Co104_Status_c'] == 'Active'">
                                    <td><input type="radio" ng-model="step1.selectedContract" ng-value="entry" /></td>
                                    <!--
                                    <td><none-text value="entry ['Co100_ContractNumber']"></none-text></td>
                                    <td><none-text value="entry ['Co101_StartDate']"></none-text></td>
                                    <td><none-text value="entry ['Co102_EndDate']"></none-text></td>
                                    <td class="text-center">
                                        <span class="badge badge-danger w-100" ng-show="entry ['Co104_Status_c'] == 'Canceled'">{{ 'CONTRACTS.STATUS.CANCELLED' | translate }}</span>
                                        <span class="badge badge-danger w-100" ng-show="entry ['Co104_Status_c'] == 'Expired'">{{ 'CONTRACTS.STATUS.EXPIRED' | translate }}</span>
                                        <span class="badge badge-warning w-100" ng-show="entry ['Co104_Status_c'] == 'Not yet active'">{{ 'CONTRACTS.STATUS.NOTYETACTIVE' | translate }}</span>
                                        <span class="badge badge-success w-100" ng-show="entry ['Co104_Status_c'] == 'Active'">{{ 'CONTRACTS.STATUS.ACTIVE' | translate }}</span>
                                    </td>
                                    -->
                                    <td ng-if="$root.isParent ()"><none-text value="entry ['Co204_TutorRelated_c']"></td>
                                    <td><none-text value="entry ['Co205_StudentRelated_c']"></none-text></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- TODO: DISABLE RENDERIZATION OF SPECIFIC THINGS FOR MOBILE/DESKTOP TO PREVENT WASTING CPU? -->
                        <div class="row d-lg-none">
                            <div class="col-12">
                                <div class="container mt-2 pb-2 border-bottom" ng-repeat="entry in step1.loader.data.data.data" ng-show="entry ['Co104_Status_c'] == 'Active'">
                                    <div class="row">
                                        <!--
                                        <div class="col-12 col-sm-6">
                                            <small class="text-muted">{{ 'CONTRACTS.HEADERS.CONTRACTNO' | translate }}</small><br />
                                            {{ entry ['Co100_ContractNumber'] }}
                                        </div>-->
                                        <div class="col-12 col-sm-6 py-2">
                                            <label><input type="radio" ng-model="step1.selectedContract" ng-value="entry"> Select this contract</label>
                                        </div>
                                        <!--
                                        <div class="col-12 col-sm-6">
                                            <small class="text-muted">{{ 'CONTRACTS.HEADERS.STARTDATE' | translate }}</small><br />
                                            <none-text value="entry ['Co101_StartDate']"></none-text>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <small class="text-muted">{{ 'CONTRACTS.HEADERS.ENDDATE' | translate }}</small><br />
                                            <none-text value="entry ['Co102_EndDate']"></none-text>
                                        </div>-->
                                        <div class="col-12" ng-class="{'col-sm-6': $root.isParent ()}">
                                            <small class="text-muted">{{ 'CONTRACTS.HEADERS.STUDENT' | translate }}</small><br />
                                            <none-text value="entry ['Co205_StudentRelated_c']"></none-text>
                                        </div>
                                        <div class="col-12 col-sm-6" ng-if="$root.isParent ()">
                                            <small class="text-muted">{{ 'CONTRACTS.HEADERS.TUTOR' | translate }}</small><br />
                                            <none-text value="entry ['Co204_TutorRelated_c']"></none-text>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </loader>
            </div>

            <div ng-show="eventCreationStep == 2">
                <p class="alert alert-light">
                    Please select the date and time for the new scheduled event
                </p>
                <p class="alert alert-danger" ng-show="isBefore">
                    The booking date cannot be in the past
                </p>
                <p class="alert alert-danger" ng-show="isTimeCorrect == false">
                    The end time cannot be before the start time
                </p>
                <div class="row text-center">
                    <div class="col-12 col-md-6">
                        <div uib-datepicker ng-model="step2.date" datepicker-options="{showWeeks: false}"></div>
                    </div>
                    <div class="col-12 mt-4 mt-md-0 col-md-6">
                        <h5>
                            Start time
                        </h5>
                        <div uib-timepicker ng-model="step2.date" hour-step="1" minute-step="15" show-meridian="true" readonly-input="false"></div>
                        <h5>
                            End time
                        </h5>
                        <div uib-timepicker ng-model="step2.end" hour-step="1" minute-step="15" show-meridian="true" readonly-input="false"></div>
                    </div>
                </div>
            </div>

            <div ng-show="eventCreationStep == 3">
                <form>
                    <div class="form-group">
                        <label for="subject"><strong>Subject</strong></label>
                        <select name="subject" id="subject" ng-model="step3.subject" ng-options="reason.Ct100_Name for reason in step3.options" class="form-control form-control-lg" placeholder="Subject"></select>
                    </div>
                    <div class="form-group">
                        <label for="description"><strong>Session Overview</strong></label>
                        <textarea class="form-control" id="description" rows="6" ng-model="step3.description"></textarea>
                    </div>
                </form>
            </div>

            <div ng-show="eventCreationStep == 4">
                <loader loader="{'status': 'loading'}"></loader>
            </div>

            <div ng-show="eventCreationStep == 5">
                <p class="alert alert-danger">
                    There is an event already present at that date for the specified tutor or student
                </p>
            </div>
            <div ng-show="eventCreationStep == 6">
                <p class="alert alert-success">
                    The event has been booked correctly and it's waiting for the <span ng-show="$root.isTutor ()">parent</span><span ng-show="$root.isParent ()">tutor</span> to confirm it.
                </p>
            </div>
        </bt-modal-content>
        <bt-modal-footer class="d-block text-right">
            <div ng-show="eventCreationStep == 1">
                <a href="#" class="btn btn-primary mt-1 mt-md-0" ng-click="nextStep ()" ng-class="{'disabled': !canGoNextStep ()}">Next step</a>
                <a href="#" class="btn btn-danger mt-1 mt-md-0" data-target="#schedule-new-event" data-toggle="modal">Cancel</a>
            </div>
            <div ng-show="eventCreationStep == 2">
                <a href="#" class="btn btn-dark mt-1 mt-md-0" ng-click="previousStep ()">Previous step</a>
                <a href="#" class="btn btn-primary mt-1 mt-md-0" ng-click="nextStep ()" ng-class="{'disabled': !canGoNextStep ()}">Next step</a>
                <a href="#" class="btn btn-danger mt-1 mt-md-0" data-target="#schedule-new-event" data-toggle="modal">Cancel</a>
            </div>
            <div ng-show="eventCreationStep == 3">
                <a href="#" class="btn btn-dark mt-1 mt-md-0" ng-click="previousStep ()">Previous step</a>
                <a href="#" class="btn btn-success mt-1 mt-md-0" ng-click="nextStep ()" ng-class="{'disabled': !canGoNextStep ()}">Schedule new appointment</a>
                <a href="#" class="btn btn-danger mt-1 mt-md-0" data-target="#schedule-new-event" data-toggle="modal">Cancel</a>
            </div>
            <div ng-show="eventCreationStep == 5">
                <a href="#" class="btn btn-dark mt-1 mt-md-0" ng-click="previousStep ()">Go back</a>
                <a href="#" class="btn btn-danger mt-1 mt-md-0" data-target="#schedule-new-event" data-toggle="modal">Cancel</a>
            </div>
            <div ng-show="eventCreationStep == 6">
                <a href="#" class="btn btn-primary mt-1 mt-md-0" data-target="#schedule-new-event" data-toggle="modal">Close</a>
            </div>
        </bt-modal-footer>
    </bt-modal>
</div>
