<div>
    <bt-modal size="'big'" id="schedule-update-event">
        <bt-modal-header bt-can-close="true" bt-title="'Book new event'"></bt-modal-header>
        <bt-modal-content>
            <div ng-show="eventCreationStep == 1">
                <p class="alert alert-light">
                    Please select the date and time for the new scheduled event
                </p>
                <p class="alert alert-danger" ng-show="isBefore">
                    The booking date cannot be in the past
                </p>
                <p class="alert alert-danger" ng-show="isTimeCorrect == false">
                    The end time cannot be before the start time
                </p>
                <div class="row text-center">
                    <div class="col-12 col-md-6">
                        <div uib-datepicker ng-model="step1.date" datepicker-options="{showWeeks: false}"></div>
                    </div>
                    <div class="col-12 mt-4 mt-md-0 col-md-6">
                        <h5>
                            Start time
                        </h5>
                        <div uib-timepicker ng-model="step1.date" hour-step="1" minute-step="15" show-meridian="true" readonly-input="true"></div>
                        <h5>
                            End time
                        </h5>
                        <div uib-timepicker ng-model="step1.end" hour-step="1" minute-step="15" show-meridian="true" readonly-input="true"></div>
                    </div>
                </div>
            </div>

            <div ng-show="eventCreationStep == 2">
                <loader loader="{'status': 'loading'}"></loader>
            </div>

            <div ng-show="eventCreationStep == 3">
                <p class="alert alert-danger">
                    There is an event already present at that date for the specified tutor or student
                </p>
            </div>
            <div ng-show="eventCreationStep == 4">
                <p class="alert alert-success">
                    The event has been updated correctly and it's waiting for the <span ng-show="$root.isTutor ()">parent</span><span ng-show="$root.isParent ()">tutor</span> to confirm it.
                </p>
            </div>
        </bt-modal-content>
        <bt-modal-footer class="d-block text-right">
            <div ng-show="eventCreationStep == 1">
                <a href="#" class="btn btn-primary mt-1 mt-md-0" ng-click="nextStep ()" ng-class="{'disabled': !canGoNextStep ()}">Re-schedule</a>
                <a href="#" class="btn btn-danger mt-1 mt-md-0" data-dismiss="modal">Cancel</a>
            </div>
            <div ng-show="eventCreationStep == 3">
                <a href="#" class="btn btn-dark mt-1 mt-md-0" ng-click="previousStep ()">Go back</a>
                <a href="#" class="btn btn-danger mt-1 mt-md-0" data-dismiss="modal">Cancel</a>
            </div>
            <div ng-show="eventCreationStep == 4">
                <a href="#" class="btn btn-success mt-1 mt-md-0" data-dismiss="modal">OK</a>
            </div>
        </bt-modal-footer>
    </bt-modal>
</div>
