<loader loader="loader">
    <section-container>
        <div class="row pb-1">
            <div class="col-12 text-center">
                <a href="#" class="btn btn-dark w-100 btn-top" ng-click="goback ()"><span class="fa fa-arrow-left"></span> {{ 'BILLING.DETAILS.GOBACK' | translate }}</a>
            </div>
        </div>
        <section-title>Contract #{{ loader.data.data.data ['Co100_ContractNumber'] }}</section-title>
        <section-content>
            <div class="col-12">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-6 col-md-4">
                            <small class="text-muted">Start date</small><br />
                            <none-text value="loader.data.data.data ['Co101_StartDate']"></none-text>
                        </div>
                        <div class="col-6 col-md-4">
                            <small class="text-muted">End date</small><br />
                            <none-text value="loader.data.data.data ['Co102_EndDate']"></none-text>
                        </div>
                        <div class="col-6 col-md-4">
                            <small class="text-muted">Family</small><br />
                            <none-text value="loader.data.data.data ['Co206_FamilyRelated_c']"></none-text>
                        </div>
                        <div class="col-6">
                            <small class="text-muted">Student</small><br />
                            <none-text value="loader.data.data.data ['Co205_StudentRelated_c']"></none-text>
                        </div>
                        <div class="col-12 col-md-6">
                            <small class="text-muted">Tutor</small><br />
                            <none-text value="loader.data.data.data ['Co204_TutorRelated_c']"></none-text>
                        </div>
                    </div>
                </div>
            </div>
        </section-content>
        <section-title>Invoices</section-title>
        <section-content ng-show="loader.data.data.invoices.length == 0">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <p class="alert alert-info">
                                There aren't any invoices linked to this contract
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section-content>
        <section-content ng-show="loader.data.data.invoices.length > 0">
            <div class="col-12">
                <table class="table-striped table table-hover d-none d-lg-table">
                    <thead>
                        <tr class="text-center">
                            <th>{{ 'BILLING.LIST.HEADERS.INVOICE' | translate }}</th>
                            <th>{{ 'BILLING.LIST.HEADERS.STUDENT' | translate }}</th>
                            <th>{{ 'BILLING.LIST.HEADERS.TUTOR' | translate }}</th>
                            <th>{{ 'BILLING.LIST.HEADERS.DATE' | translate }}</th>
                            <th>{{ 'BILLING.LIST.HEADERS.STATUS' | translate }}</th>
                            <th class="text-right">{{ 'BILLING.LIST.HEADERS.TOTALTOPAY' | translate }}</th>
                            <!--<th class="text-right">{{ 'BILLING.LIST.HEADERS.TAX' | translate }}</th>-->
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" ng-repeat="entry in loader.data.data.invoices">
                            <td>{{ entry ['_id_Number'] }}</td>
                            <td><none-text value="entry ['In100_StudentName']"></none-text></td>
                            <td><none-text value="entry ['In101_TutorName']"></none-text></td>
                            <td>{{ entry ['In106_Date'] }}</td>
                            <td class="text-center">
                                <span class="badge badge-danger w-100" ng-show="entry ['In102_Status_c'] == 'Cancelled'">{{ 'BILLING.STATUS.CANCELLED' | translate }}</span>
                                <span class="badge badge-warning w-100" ng-show="entry ['In102_Status_c'] == 'Invoiced'">{{ 'BILLING.STATUS.INVOICED' | translate }}</span>
                                <span class="badge badge-danger w-100" ng-hide="entry ['In102_Status_c'] == 'Cancelled' || entry ['In102_Status_c'] == 'Invoiced' || entry ['In102_Status_c'] == 'Paid'">Expired</span>
                                <span class="badge badge-success w-100" ng-show="entry ['In102_Status_c'] == 'Paid'">{{ 'BILLING.STATUS.PAID' | translate }}</span>
                            </td>
                            <td class="text-right">
                                <none-text value="entry ['In600_TotalToPay_c'] | customCurrency"></none-text>
                            </td>
                            <!--
                            <td class="text-right">
                                <none-text value="entry ['In601_TotalTax_c'] + '%'"></none-text>
                            </td>
                            -->
                            <td>
                                <a class="btn btn-sm btn-dark text-light" href="#" ng-click="invoiceDetails (entry)">{{ 'BILLING.DETAILS.BUTTON' | translate }}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- TODO: DISABLE RENDERIZATION OF SPECIFIC THINGS FOR MOBILE/DESKTOP TO PREVENT WASTING CPU? -->
                <div class="row d-lg-none">
                    <div class="col-12">
                        <div class="container" ng-repeat="entry in loader.data.data.invoices">
                            <div class="row text-center">
                                <div class="col-6">
                                    <small class="text-muted">{{ 'BILLING.LIST.HEADERS.INVOICENO' | translate }}</small><br />
                                    {{ entry ['_id_Number'] }}
                                </div>
                                <div class="col-6">
                                    <small class="text-muted">{{ 'BILLING.LIST.HEADERS.DATE' | translate }}</small><br />
                                    <none-text value="entry ['In106_Date']"></none-text>
                                </div>
                                <div class="col-6">
                                    <small class="text-muted">{{ 'BILLING.LIST.HEADERS.STUDENT' | translate }}</small><br />
                                    <none-text value="entry ['In100_StudentName']"></none-text>
                                </div>
                                <div class="col-6">
                                    <small class="text-muted">{{ 'BILLING.LIST.HEADERS.TUTOR' | translate }}</small><br />
                                    <none-text value="entry ['In101_TutorName']"></none-text>
                                </div>
                                <div class="col-12">
                                    <small class="text-muted">{{ 'BILLING.LIST.HEADERS.STATUS' | translate }}</small><br />
                                    <span class="text-danger" ng-show="entry ['In102_Status_c'] == 'Cancelled'">{{ 'BILLING.STATUS.CANCELLED' | translate }}</span>
                                    <span class="text-warning" ng-show="entry ['In102_Status_c'] == 'Invoiced'">{{ 'BILLING.STATUS.INVOICED' | translate }}</span>
                                    <span class="text-danger" ng-hide="entry ['In102_Status_c'] == 'Cancelled' || entry ['In102_Status_c'] == 'Invoiced' || entry ['In102_Status_c'] == 'Paid'">Expired</span>
                                    <span class="text-success" ng-show="entry ['In102_Status_c'] == 'Paid'">{{ 'BILLING.STATUS.PAID' | translate }}</span>
                                </div>
                                <div class="col-12 mt-2 pt-2 border-top">
                                    <a class="btn btn-sm btn-dark text-light d-block" href="#" ng-click="invoiceDetails (entry)">{{ 'BILLING.DETAILS.BUTTON' | translate }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section-content>
    </section-container>
</loader>
