<loader loader="loader">
    <section-container>
        <div class="row pb-1">
            <div class="col-12 text-center" ng-class="{'col-md-6 pr-md-0': loader.data.data.data ['_QB_id'] != ''}">
                <a href="#" ng-class="{'btn-top-left': loader.data.data.data ['_QB_id'] != ''}" class="btn btn-dark w-100 btn-top" ng-click="goback ()"><span class="fa fa-arrow-left"></span> {{ 'BILLING.DETAILS.GOBACK' | translate }}</a>
            </div>
            <div class="col-12 col-md-6 text-center pl-md-0" ng-show="loader.data.data.data ['_QB_id'] != ''">
                <a ng-href="{{ downloadUrl }}" target="_blank" class="btn btn-success w-100 btn-top-right"><span class="fa fa-file-invoice"></span> {{ 'BILLING.DETAILS.DOWNLOAD' | translate }}</a>
            </div>
        </div>
        <section-title>Invoice #{{ loader.data.data.data ['_id_Number'] }}</section-title>
        <section-content>
            <div class="col-12">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-12 col-md-4">
                            <small class="text-muted">Status</small><br />
                            <strong>
                                <small class="text-danger" ng-show="loader.data.data.data ['In102_Status_c'] == 'Cancelled'">{{ 'BILLING.STATUS.CANCELLED' | translate }}</small>
                                <small class="text-warning" ng-show="loader.data.data.data ['In102_Status_c'] == 'Invoiced'">{{ 'BILLING.STATUS.INVOICED' | translate }}</small>
                                <small class="text-success" ng-show="loader.data.data.data ['In102_Status_c'] == 'Paid'">{{ 'BILLING.STATUS.PAID' | translate }}</small>
                            </strong>
                        </div>
                        <div class="col-6 col-md-4">
                            <small class="text-muted">Tutor</small><br />
                            <none-text value="loader.data.data.data ['In101_TutorName']"></none-text>
                        </div>
                        <div class="col-6 col-md-4">
                            <small class="text-muted">Student</small><br />
                            <none-text value="loader.data.data.data ['In100_StudentName']"></none-text>
                        </div>
                    </div>
                </div>
            </div>
        </section-content>
        <section-title>Rows</section-title>
        <section-content>
            <div class="col-12">
                <table class="table-striped table table-hover d-none d-md-table">
                    <thead>
                        <tr class="text-center">
                            <th>{{ 'BILLING.DETAILS.HEADERS.DESCRIPTION' | translate }}</th>
                            <th class="header-small">{{ 'BILLING.DETAILS.HEADERS.TOTAL' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" ng-repeat="entry in loader.data.data.rows">
                            <td><none-text value="entry ['Inr100_Description']"></none-text></td>
                            <td>{{ entry ['Inr600_ToPay_c'] | customCurrency }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- TODO: DISABLE RENDERIZATION OF SPECIFIC THINGS FOR MOBILE/DESKTOP TO PREVENT WASTING CPU? -->
                <div class="row d-md-none text-center">
                    <div class="col-12">
                        <div class="container" ng-repeat="entry in loader.data.data.rows">
                            <div class="row">
                                <div class="col-12 text-left">
                                    <small class="text-muted">{{ 'BILLING.DETAILS.HEADERS.DESCRIPTION' | translate }}</small><br />
                                    <none-text value="entry ['Inr100_Description']"></none-text>
                                </div>
                                <div class="col-6 col-sm-12">
                                    <small class="text-muted">{{ 'BILLING.DETAILS.HEADERS.TOTAL' | translate }}</small><br />
                                    {{ entry ['Inr600_ToPay_c'] | customCurrency }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section-content>
        <section-title>Payments</section-title>
        <section-content ng-show="loader.data.data.payments.length == 0">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <p class="alert alert-info">
                                There are no payments registered for this invoice
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section-content>
        <section-content ng-show="loader.data.data.payments.length > 0">
            <div class="col-12">
                <table class="table-striped table table-hover d-none d-md-table">
                    <thead>
                        <tr class="text-center">
                            <th>Date</th>
                            <th>Type</th>
                            <th class="text-right">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" ng-repeat="entry in loader.data.data.payments">
                            <td>{{ entry ['Pa111_RegisteredDate_ac'] }}</td>
                            <td>
                                <span ng-if="entry ['Pa120_PaymentType'] == 1">Cash on hand</span>
                            </td>
                            <td class="text-right">{{ entry ['Pa101_PaidAmount'] | customCurrency }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- TODO: DISABLE RENDERIZATION OF SPECIFIC THINGS FOR MOBILE/DESKTOP TO PREVENT WASTING CPU? -->
                <div class="row d-md-none text-center">
                    <div class="col-12">
                        <div class="container" ng-repeat="entry in loader.data.data.payments">
                            <div class="row border-bottom pb-2">
                                <div class="col-6 col-sm-4">
                                    <small class="text-muted">Payment date</small><br />
                                    {{ entry ['Pa111_RegisteredDate_ac'] }}
                                </div>
                                <div class="col-6 col-sm-4">
                                    <small class="text-muted">Type</small><br />
                                    <span ng-if="entry ['Pa120_PaymentType'] == 1">Cash on hand</span>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <small class="text-muted">Amount</small><br />
                                    {{ entry ['Pa101_PaidAmount'] | customCurrency }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section-content>
    </section-container>
</loader>
