<loader loader="loader">
    <section-container>
        <h2 class="text-center">Contracts</h2>
        <div class="my-1">
            <pagination max-records="loader.data.data.count" records-per-page="loader.data.data.recordsPerPage" goto-page-callback="goto" current-record="0"></pagination>
            <div class="row" ng-show="loader.data.data.data.length > 0">
                <div class="col-12">
                    <table class="table-striped table table-hover d-none d-lg-table">
                        <thead>
                            <tr class="text-center">
                                <th>{{ 'CONTRACTS.HEADERS.NUMBER' | translate }}</th>
                                <!--
                                <th>{{ 'CONTRACTS.HEADERS.STARTDATE' | translate }}</th>
                                <th>{{ 'CONTRACTS.HEADERS.ENDDATE' | translate }}</th>
                                -->
                                <th>{{ 'CONTRACTS.HEADERS.TUTOR' | translate }}</th>
                                <th>{{ 'CONTRACTS.HEADERS.STATUS' | translate }}</th>
                                <th>{{ 'CONTRACTS.HEADERS.STUDENT' | translate }}</th>
                                <!--<th class="text-right">{{ 'CONTRACTS.HEADERS.TOTAL' | translate }}</th>-->
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" ng-repeat="entry in loader.data.data.data">
                                <td><none-text value="entry ['Co100_ContractNumber']"></none-text></td>
                                <!--
                                <td><none-text value="entry ['Co101_StartDate']"></none-text></td>
                                <td><none-text value="entry ['Co102_EndDate']"></none-text></td>
                                -->
                                <td><none-text value="entry ['Co204_TutorRelated_c']"></td>
                                <td class="text-center">
                                    <span class="badge badge-danger w-100" ng-show="entry ['Co104_Status_c'] == 'Canceled'">{{ 'CONTRACTS.STATUS.CANCELLED' | translate }}</span>
                                    <span class="badge badge-danger w-100" ng-show="entry ['Co104_Status_c'] == 'Expired'">{{ 'CONTRACTS.STATUS.EXPIRED' | translate }}</span>
                                    <span class="badge badge-warning w-100" ng-show="entry ['Co104_Status_c'] == 'Not yet active'">{{ 'CONTRACTS.STATUS.NOTYETACTIVE' | translate }}</span>
                                    <span class="badge badge-success w-100" ng-show="entry ['Co104_Status_c'] == 'Active'">{{ 'CONTRACTS.STATUS.ACTIVE' | translate }}</span>
                                </td>
                                <td><none-text value="entry ['Co205_StudentRelated_c']"></none-text></td>
                                <!--<td class="text-right"><none-text value="entry ['Co202_Total_c'] | customCurrency"></none-text></td>-->
                                <td>
                                    <a class="btn btn-sm btn-dark text-light" href="#" ng-click="details (entry)">{{ 'CONTRACTS.DETAILS.BUTTON' | translate }}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- TODO: DISABLE RENDERIZATION OF SPECIFIC THINGS FOR MOBILE/DESKTOP TO PREVENT WASTING CPU? -->
                    <div class="row d-lg-none">
                        <div class="col-12">
                            <div class="container mt-2 pb-2 border-bottom" ng-repeat="entry in loader.data.data.data">
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <small class="text-muted">{{ 'CONTRACTS.HEADERS.CONTRACTNO' | translate }}</small><br />
                                        {{ entry ['Co100_ContractNumber'] }}
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <small class="text-muted">{{ 'BILLING.LIST.HEADERS.STATUS' | translate }}</small><br />
                                        <span class="text-danger w-100" ng-show="entry ['Co104_Status_c'] == 'Canceled'">{{ 'CONTRACTS.STATUS.CANCELLED' | translate }}</span>
                                        <span class="text-danger w-100" ng-show="entry ['Co104_Status_c'] == 'Expired'">{{ 'CONTRACTS.STATUS.EXPIRED' | translate }}</span>
                                        <span class="text-warning w-100" ng-show="entry ['Co104_Status_c'] == 'Not yet active'">{{ 'CONTRACTS.STATUS.NOTYETACTIVE' | translate }}</span>
                                        <span class="text-success w-100" ng-show="entry ['Co104_Status_c'] == 'Active'">{{ 'CONTRACTS.STATUS.ACTIVE' | translate }}</span>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <small class="text-muted">{{ 'CONTRACTS.HEADERS.STARTDATE' | translate }}</small><br />
                                        <none-text value="entry ['Co101_StartDate']"></none-text>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <small class="text-muted">{{ 'CONTRACTS.HEADERS.ENDDATE' | translate }}</small><br />
                                        <none-text value="entry ['Co102_EndDate']"></none-text>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <small class="text-muted">{{ 'CONTRACTS.HEADERS.STUDENT' | translate }}</small><br />
                                        <none-text value="entry ['Co205_StudentRelated_c']"></none-text>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <small class="text-muted">{{ 'CONTRACTS.HEADERS.TUTOR' | translate }}</small><br />
                                        <none-text value="entry ['Co204_TutorRelated_c']"></none-text>
                                    </div>
                                    <div class="col-12 mt-2 pt-2 border-top">
                                        <a class="btn btn-sm btn-dark text-light d-block" href="#" ng-click="details (entry)">{{ 'CONTRACTS.DETAILS.BUTTON' | translate }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="loader.data.data.data.length == 0">
                <div class="col-12">
                    <p class="alert alert-info">
                        There aren't any contracts yet
                    </p>
                </div>
            </div>
        </div>
    </section-container>
</loader>
