<div class="w-100">
    <div class="fade text-center" ng-class="{'show': showLoader}" ng-show="size == 'big' && showLoader">
        <div class="atatiki-loading"><div></div><div></div><div></div><div></div></div><br />
        {{ loadingMessage }}
    </div>
    <div class="fade text-center" ng-class="{'show': showLoader}" ng-show="size == 'small' && showLoader">
        <div class="atatiki-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="fade" ng-class="{'show': showContent}" ng-transclude ng-show="showContent"></div>
    <p class="alert alert-danger mt-2 fade" ng-class="{'show': showError}" ng-show="showError">
        {{ 'SYSTEM.ERROR' | translate }}
    </p>
    <p class="alert alert-warning mt-2 fade" ng-class="{'show': showNotFound}" ng-show="showNotFound">
        <span ng-show="customNotFound == ''">{{ 'SYSTEM.NO_RECORDS_FOUND' | translate }}</span>
        <span ng-hide="customNotFound == ''">{{ notFoundMsg }}</span>
    </p>
</div>
