<!-- Outstanding detail modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div ng-class="modal_class">
        <div class="modal-content" ng-transclude>
        </div>
    </div>
</div>
