<div class="row  px-4">
    <div class="col-12 col-lg-6 text-center text-lg-left">
        <nav aria-label="Pagination" ng-show="visible">
            <ul class="pagination pagination-sm">
                <li class="page-item" ng-class="{'disabled': !previousEnabled}">
                    <a class="page-link" href="#" ng-click="gotoPage (1)">
                        First
                    </a>
                </li>
                <li class="page-item" ng-class="{'disabled': !previousEnabled}">
                    <a class="page-link" href="#" ng-click="gotoPage (currentPage - 1)">
                        Previous
                    </a>
                </li>
                <li class="page-item d-none d-md-inline-block" ng-repeat="page in pagesToDisplay" ng-class="{'active': currentPage == page}">
                    <a class="page-link" href="#" ng-click="gotoPage (page)">
                        {{ page }}
                    </a>
                </li>
                <li class="page-item" ng-class="{'disabled': !nextEnabled}">
                    <a class="page-link" href="#" ng-click="gotoPage (currentPage + 1)">
                        Next
                    </a>
                </li>
                <li class="page-item" ng-class="{'disabled': !nextEnabled}">
                    <a class="page-link" href="#" ng-click="gotoPage (maxPages)">
                        Last
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-12 col-lg-6 text-center text-lg-right" ng-show="countVisible">
        <small>Showing records {{ (currentPage - 1) * recordsPerPage + 1 }} to {{ (maxRecords < currentPage * recordsPerPage) ? maxRecords : currentPage * recordsPerPage }} of {{ maxRecords }}</small>
    </div>
</div>
