@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');

*
{
    --linkz-color: #282560;


    font-family: 'Didact Gothic', sans-serif;


    /* futura pt */
}

/**
 * ANIMATION FOR THE LOADER
 */
.atatiki-loading
{
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.atatiki-loading div
{
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid var(--linkz-color);
    border-radius: 50%;
    animation: atatiki-loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--linkz-color) transparent transparent transparent;
}

.atatiki-loading div:nth-child(1)
{
    animation-delay: -0.45s;
}

.atatiki-loading div:nth-child(2)
{
    animation-delay: -0.3s;
}

.atatiki-loading div:nth-child(3)
{
    animation-delay: -0.15s;
}

@keyframes atatiki-loading
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.atatiki-spinner {
    color: white;
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    padding-top: 5px;
    padding-left: 5px;
}
.atatiki-spinner div {
    transform-origin: 1px 1px;
    animation: atatiki-spinner 1.2s linear infinite;
}
.atatiki-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    width: 3px;
    height: 6px;
    border-radius: 20%;
    background: #fff;
}
.atatiki-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.atatiki-spinner div:nth-child(2) {
    transform: rotate(40deg);
    animation-delay: -0.9s;
}
.atatiki-spinner div:nth-child(3) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.atatiki-spinner div:nth-child(4) {
    transform: rotate(130deg);
    animation-delay: -0.7s;
}
.atatiki-spinner div:nth-child(5) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.atatiki-spinner div:nth-child(6) {
    transform: rotate(220deg);
    animation-delay: -0.4s;
}
.atatiki-spinner div:nth-child(7) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.atatiki-spinner div:nth-child(8) {
    transform: rotate(310deg);
    animation-delay: -0.1s;
}
@keyframes atatiki-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
