#leftbar .uib-daypicker table {
    width: 100%;
}

#leftbar .uib-daypicker thead tr:first-child {
    background-color: rgba(0, 0, 0, .6);
}

#leftbar .uib-title strong,
#leftbar .uib-right i:before,
#leftbar .uib-left i:before {
    color: white !important;
}

#leftbar .uib-daypicker thead tr:last-child {
    background-color: rgba(0, 0, 0, .3);
}

#leftbar .uib-day .btn {
    border-radius: 0;
}

#leftbar .uib-day .btn span {
    color: white;
}

#leftbar .uib-day .btn.btn-info,
#leftbar .uib-day .btn.btn-info.active {
    background-color: #343a40;
    border-color: rgba(0, 0, 0, .1);
}

#leftbar .uib-day .btn.btn-info .text-info,
#leftbar .uib-day .btn.btn-info.active .text-info {
    color: white !important;
}

/*
#leftbar .uib-day .btn.btn-default .text-info {
    color: #343a40 !important;
}
*/

/*#leftbar */.uib-day .btn.btn-default .text-muted {
    color: rgba(255, 255, 255, 0) !important;
}

#leftbar .uib-day {
    background-color: rgba(0, 0, 0, .1);
    color: white;
}
