body {
    font-size: .875rem;
}

/*
 * Sidebar
 */

/*.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar *
    /*padding: 48px 0 0;* /* Height of navbar *
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}*/

@media screen and (min-width: 768px)
{
    .sidebar {
        position: fixed;
        top: 0;
        z-index: 100;
    }
}

@media screen and (min-width: 992px)
{
    .calendar {
        position: sticky;
        top: 0;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh);
    /*padding-top: .5rem;*/
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #519fea;
    text-align: center;
}

.sidebar .nav-link .fa {
    font-size: 2.5em;
    display: block;
    margin-bottom: 5px;
}

.sidebar .nav-link {
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    padding: 15px;
    color: white;
}

.sidebar .nav-link .feather {
    margin-right: 4px;

}

.sidebar .nav-link.active, .sidebar .nav-link:hover, .sidebar .nav-link:active {
    color: #519fea;
    background-color: rgba(255, 255, 255, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Content
 */

[role="main"], body {
    /*padding-top: 48px;*/ /* Space for fixed navbar */
    background-color: var(--linkz-color);
    color: white;
    overflow-x: hidden;
}

/*
 * Navbar
 */

.navbar-nav {
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
}

.navbar-brand img {
    height: 40px;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.bg-light
{
    background-color: var(--linkz-color) !important;
}

.bg-light-2
{
    background-color: #ededed;
}

.topbar {
    padding-left: 0;
    padding-right: 0;
}

.topbar .navbar-brand {
    padding-left: 10px;
}

.topbar .navbar-toggler {
    margin-right: 10px;
}

.topbar .nav-link {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    border-radius: 5px;
    background-color: #ededed;
    color: black;
    margin-bottom: 10px;
}

ul.pagination .page-item.active .page-link {
    background-color: #343a40;
    border-color: #343a40;
}

.border-bottom-radius-0 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.border-top-radius-0 {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.table .header-small {
    width: 1%;
    white-space: nowrap;
}

.btn-top-left {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-top-right {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-top-center {
    border-radius: 0;
}

ul.left-nav a.nav-link {
    background-color: rgba(0,0,0,.2);
    color: white;
}

ul.left-nav a.nav-link.active {
    background-color: rgba(0,0,0,.5);
}

ul.left-nav a.nav-link:hover {
    background-color: rgba(0,0,0,.1);
}

@media screen and (min-width: 768px)
{
    .btn-top-right {
        border-top-left-radius: 0;
    }

    .btn-top-left {
        border-top-right-radius: 0;
    }
}

@media screen and (max-width: 767px)
{
    .btn-top-right {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

@media screen and (max-width: 991px)
{
    .navbar {
        padding: 0;
    }
    .navbar-brand {
        padding-left: 1em;
    }
    .navbar-toggler {
        margin-right: 1em;
    }

    .navbar .nav-item .nav-link {
        padding-left: 2em;
    }
}

@media
    screen and (max-width: 576px),
    screen and (min-width: 768px) and (max-width: 864px),
    screen and (min-width: 992px) and (max-width: 1152px),
    screen and (min-width: 1200px) and (max-width: 1246px)
{
    .btn-top-left {
        border-radius: 0;
    }

    .btn-top {
        border-radius: 0;
    }

    .btn-top-right {
        border-radius: 0;
    }

    .container {
        margin-bottom: 0px;
        border-radius: 0;
        margin-top: 0px;
    }

    .container-top {
        margin-top: 0 !important;
    }
}

.file-thumbnail-container .thumbnail {
    width: 100%;
}

@media screen and (min-width: 993px) {
    .file-thumbnail-container .thumbnail {
        max-height: 80px;
    }
}

.uib-increment a {
    border: 1px solid black;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--linkz-color);
    width: 100%;
}

.uib-increment .btn-link {
    color: white;
}

.uib-decrement a {
    border: 1px solid black;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: var(--linkz-color);
    width: 100%;
}

.uib-decrement .btn-link {
    color: white;
}

.uib-time .form-control {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
    width: 100%;
}

.uib-time .btn-default {
    border: 1px solid black;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.uib-daypicker > table {
    margin: 0 auto;
}

.uib-day .text-info {
    color: #721c24 !important;
}

.uib-separator {
    width: 25px;
    text-align: center;
}

table.uib-timepicker,
table.uib-timepicker tr,
table.uib-timepicker td,
table.uib-timepicker th {
    border: 0;
    margin: 0;
    padding:0;
}

/** FIXES WEIRD BUTTONS ON BOOTSTRAP FOR MODAL-FOOTER */
@media screen and (max-width: 768px)
{
    .modal-footer .btn {
        display: block;
        width: 100%;
    }
}
