html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--linkz-color);
    color: white;
}

body > div, .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    border-radius: 0;
}

.form-signin button[type="submit"] {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.btn-primary
{
    background-color: #333;
    border-color: #222;
}

.btn-primary:hover, .btn-primary:focus
{
    background-color: #555;
    border-color: #444;
}

.alert-danger {
    background-color: #ea5151;
    border-color: #c53c3c;
}

.atatiki-loading div {
    border-color: white transparent transparent transparent;
}
