.chat-container {
    background-color: rgba(0,0,0,.2);
    height: 50px;
    border: 1px solid grey;
    border-right: 0px;
    border-left: 0px;
}

.chat-container:hover {
    background-color: rgba(0,0,0,.1);
    cursor: pointer;
}

.chat-title {
    background-color: #005cbf;
}

.chat-contacts {
    width: 25%;
    overflow-y: scroll;
}

.chat-contacts .notification {
    background-color: rgba(255, 0, 0, .2);
}

.chat-contacts .active {
    background-color: rgba(0,0,0,.8);
    color: white;
}
.chat-messages {
    width: 75%;
    background-color: #FEFEFE;
}

.chat-contacts,
.chat-messages {
    height: 500px;
    float: left;
}

.chat-title {
    background-color: #b9bbbe;
    height: 50px;
    border: 1px solid grey;
    border-right: 0px;
}

.chat-content {
    height: 401px;
    border-left: 1px solid grey;
    overflow-y: scroll;
}

.chat-message {
    float: right;
    padding: 1em;
    background-color: #005cbf;
    color: white;

    border-radius: 8px;
    margin: .5em;
}

.chat-user {
    margin-right: 0px;

    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.chat-remote {
    float: left;
    background-color: darkgrey;
    color: black;
    margin-left: 0px;

    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.chat-message-entry {
    height: 48px;
    border-top: 1px solid grey;
    padding-left: 2em;
    background-color: lightgrey;
}

.chat-message-entry input[type=text] {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid grey;
    height: 32px;
    width: 85%;
    padding-left: 8px;
    background-color: lightgrey;
}

.chat-message-entry input[type=text]:focus {
    outline: 0;
}

.chat-message-entry button {
    border: 0;
    border-radius: 0;
    width: 10%;
    float: right;
    height: 46px;
    background-color: lightgrey;
}

.chat-switcher {
    display: none;
}

.chat-contacts,
.chat-contacts.show,
.chat-contacts.collapsing,
.chat-contacts.collapsed,
.chat-contacts.collapse {
    display: block;
}

.contact-picture {
    width: 48px;
    height: 48px;
}

.download-container:hover {
    cursor: pointer;
}

.attachment-icon {
    width: 48px;
    height: 48px;
    font-size: 3em;
    vertical-align: middle;
    line-height: normal;
}

.attachment-icon span {
    position: relative;
    top: 0;
}

.attachment-text {
    vertical-align: middle;
    line-height: normal;
}

@media screen and (max-width: 992px) {
    .chat-contacts {
        height: auto;
        float: none;
        width: 100%;
    }

    .chat-contacts:not(.show) {
        display: none;
    }

    .chat-messages {
        height: auto;
        float: none;
        width: 100%;
    }

    .chat-switcher {
        display: block;
    }
}

.attachment-text .text-muted {
    color: #b9bbbe !important;
}
