<loader loader="loader">
    <section-container ng-if="$root.isParent ()">
        <div class="container">
            <div class="row pb-1">
                <div class="col-12 p-0 text-center" ng-show="isShow ()">
                    <a href="#" class="btn btn-warning w-100 btn-top" ng-click="switchMode ()"><span class="fa fa-pencil"></span> Edit profile</a>
                </div>
                <div class="col-12 p-0 col-sm-6 text-center" ng-show="isEdit ()">
                    <a href="#" class="btn btn-success w-100 btn-top-left" ng-click="saveChanges ()"><span class="fa fa-check"></span> Save changes</a>
                </div>
                <div class="col-12 p-0 col-sm-6 text-center" ng-show="isEdit ()">
                    <a href="#" class="btn btn-danger w-100 btn-top-right" ng-click="discardChanges ()"><span class="fa fa-times"></span> Discard changes</a>
                </div>
            </div>
        </div>
        <div class="my-1">
            <div class="row">
                <div class="col-12">
                    <div class="container mt-2 pb-2 border-bottom">
                        <section-title>Basic information</section-title>
                        <div class="row text-center mb-2">
                            <div class="col-4">
                                <small class="text-muted">First Name</small><br />
                                <span ng-show="isShow ()">{{ loader.data [1].data ['Pe100_FirstName'] }}</span>
                                <input ng-show="isEdit ()" class="form-control" type="text" ng-model="tmp ['Pe100_FirstName']" placeholder="First name" />
                            </div>
                            <div class="col-4">
                                <small class="text-muted">Last Name</small><br />
                                <span ng-show="isShow ()">{{ loader.data [1].data ['Pe101_LastName'] }}</span>
                                <input ng-show="isEdit ()" class="form-control" type="text" ng-model="tmp ['Pe101_LastName']" placeholder="Last name" />
                            </div>
                            <div class="col-4">
                                <small class="text-muted">Gender</small><br />
                                <none-text ng-show="isShow ()" value="loader.data [1].data ['Pe102_Sex']"></none-text>
                                <div ng-show="isEdit ()">
                                    <input type="radio" id="malegendert" name="gender" value="Male" ng-model="tmp ['Pe102_Sex']"><label for="malegendert">Male</label>
                                    <input type="radio" id="femalegendert" name="gender" value="Female" ng-model="tmp ['Pe102_Sex']"><label for="femalegendert">Female</label>
                                </div>
                            </div>
                        </div>
                        <section-title>Contact information</section-title>
                        <div class="row">
                            <div class="col-12 col-md-6 text-center text-md-right">
                                <small class="text-muted">Address Line 1</small><br />
                                <span ng-show="isShow ()">
                                    {{ loader.data [1].data ['Pe110_Address1'] }}
                                </span>
                                <span ng-show="isEdit ()">
                                    <input type="text" class="form-control" ng-model="tmp ['Pe110_Address1']" placeholder="Address 1" />
                                </span>
                            </div>
                            <div class="col-12 col-md-6 text-center text-md-left">
                                <small class="text-muted">Address Line 2</small><br />
                                <span ng-show="isShow ()">
                                    {{ loader.data [1].data ['Pe111_Address2'] }}
                                </span>
                                <span ng-show="isEdit ()">
                                    <input type="text" class="form-control" ng-model="tmp ['Pe111_Address2']" placeholder="Address 2" />
                                </span>
                            </div>
                            <div class="col-12 col-md-6 text-center text-md-right">
                                <small class="text-muted">State</small><br />
                                <span ng-show="isShow ()">{{ loader.data [1].data ['Pe113_City'] }}</span>,
                                <span ng-show="isShow ()">{{ loader.data [1].data ['Pe114_State'] }}</span>
                                <input ng-show="isEdit ()" type="text" class="form-control" ng-model="tmp ['Pe113_City']" placeholder="City" />
                                <select ng-show="isEdit ()" class="form-control" ng-model="tmp ['_id_State']" ng-options="state._id as state.Sa100_Name for state in loader.data [0].data"></select>
                            </div>
                            <div class="col-12 col-md-6 text-center text-md-left">
                                <small class="text-muted">ZIP Code</small><br />
                                <span ng-show="isShow ()">{{ loader.data [1].data ['Pe112_ZipCode'] }}</span>
                                <input ng-show="isEdit ()" type="text" class="form-control" ng-model="tmp ['Pe112_ZipCode']" placeholder="ZIP Code" />
                            </div>
                            <div class="col-12 col-md-6 text-center text-md-right">
                                <small class="text-muted">Phone number (home)</small><br />
                                <none-text ng-show="isShow ()" value="loader.data [1].data ['Pe120_PhoneHome']"></none-text>
                                <input ng-show="isEdit ()" type="text" class="form-control" ng-model="tmp ['Pe120_PhoneHome']" placeholder="Home phone number" />
                            </div>
                            <div class="col-12 col-md-6 text-center text-md-left">
                                <small class="text-muted">Phone number (mobile)</small><br />
                                <none-text ng-show="isShow ()" value="loader.data [1].data ['Pe121_PhoneMobile']"></none-text>
                                <input ng-show="isEdit ()" type="text" class="form-control" ng-model="tmp ['Pe121_PhoneMobile']" placeholder="Mobile phone number" />
                            </div>
                            <div class="col-12 text-center">
                                <small class="text-muted">Skype ID</small><br />
                                <a ng-show="isShow ()" ng-href="skype:{{ loader.data [1].data ['Pe122_SkypeID'] }}">{{ loader.data [1].data ['Pe122_SkypeID'] }}</a>
                                <input ng-show="isEdit ()" type="text" class="form-control" ng-model="tmp ['Pe122_SkypeID']" placeholder="SkypeID" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section-container>
    <section-container ng-if="$root.isStudent ()">
        <div class="my-1">
            <div class="row">
                <div class="col-12">
                    <div class="container mt-2 pb-2 border-bottom">
                        <section-title>Basic information</section-title>
                        <div class="row text-center mb-2">
                            <div class="col-12">
                                <small class="text-muted">Name</small><br />
                                {{ loader.data [1].data ['St100_FirstName'] }} {{ loader.data [1].data ['St101_LastName'] }}
                            </div>
                            <div class="col-6">
                                <small class="text-muted">Gender</small><br />
                                <none-text value="loader.data [1].data ['St105_Sex']"></none-text>
                            </div>
                            <div class="col-6">
                                <small class="text-muted">Birthday</small><br />
                                {{ loader.data [1].data ['St106_Birthday'] }}
                            </div>
                        </div>
                        <section-title>Contact information</section-title>
                        <div class="row">
                            <div class="col-12 col-md-6 text-center text-md-right">
                                <small class="text-muted">Address Line 1</small><br />
                                {{ loader.data [1].data ['St120_Address1'] }}
                            </div>
                            <div class="col-12 col-md-6 text-center text-md-left">
                                <small class="text-muted">Address Line 2</small><br />
                                {{ loader.data [1].data ['St121_Address2'] }}
                            </div>
                            <div class="col-12 col-md-6 text-center text-md-right">
                                <small class="text-muted">State</small><br />
                                {{ loader.data [1].data ['St123_City'] }}, {{ loader.data [1].data ['St124_State'] }}
                            </div>
                            <div class="col-12 col-md-6 text-center text-md-left">
                                <small class="text-muted">ZIP Code</small><br />
                                {{ loader.data [1].data ['St122_ZipCode'] }}
                            </div>
                            <div class="col-12 col-md-6 text-center text-md-right">
                                <small class="text-muted">Phone number (home)</small><br />
                                {{ loader.data [1].data ['St130_PhoneHome'] }}
                            </div>
                            <div class="col-12 col-md-6 text-center text-md-left">
                                <small class="text-muted">Phone number (mobile)</small><br />
                                {{ loader.data [1].data ['St131_PhoneMobile'] }}
                            </div>
                            <div class="col-12 col-md-6 text-center text-md-right">
                                <small class="text-muted">Skype ID</small><br />
                                <a ng-href="skype:{{ loader.data [1].data ['St132_SkypeID'] }}">{{ loader.data [1].data ['St132_SkypeID'] }}</a>
                            </div>
                            <div class="col-12 col-md-6 text-center text-md-left">
                                <small class="text-muted">E-mail Address</small><br />
                                <a ng-href="mailto:{{ loader.data [1].data ['St133_Email'] }}">{{ loader.data [1].data ['St133_Email'] }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section-container>
    <section-container ng-if="$root.isTutor ()">
        <div class="container">
            <div class="row pb-1">
                <div class="col-12 p-0 text-center" ng-show="isShow ()">
                    <a href="#" class="btn btn-warning w-100 btn-top" ng-click="switchMode ()"><span class="fa fa-pencil"></span> Edit profile</a>
                </div>
                <div class="col-12 p-0 col-sm-6 text-center" ng-show="isEdit ()">
                    <a href="#" class="btn btn-success w-100 btn-top-left" ng-click="saveChanges ()"><span class="fa fa-check"></span> Save changes</a>
                </div>
                <div class="col-12 p-0 col-sm-6 text-center" ng-show="isEdit ()">
                    <a href="#" class="btn btn-danger w-100 btn-top-right" ng-click="discardChanges ()"><span class="fa fa-times"></span> Discard changes</a>
                </div>
            </div>
        </div>
        <div class="my-1">
            <div class="row">
                <div class="col-12">
                    <div class="container mt-2 pb-2 border-bottom">
                        <section-title>Basic information</section-title>
                        <div class="row text-center mb-2">
                            <div class="col-4">
                                <small class="text-muted">First Name</small><br />
                                <span ng-show="isShow ()">{{ loader.data [1].data ['Tu100_FirstName'] }}</span>
                                <input ng-show="isEdit ()" class="form-control" type="text" ng-model="tmp ['Tu100_FirstName']" placeholder="First name" />
                            </div>
                            <div class="col-4">
                                <small class="text-muted">Last Name</small><br />
                                <span ng-show="isShow ()">{{ loader.data [1].data ['Tu101_LastName'] }}</span>
                                <input ng-show="isEdit ()" class="form-control" type="text" ng-model="tmp ['Tu101_LastName']" placeholder="Last name" />
                            </div>
                            <div class="col-4">
                                <small class="text-muted">Gender</small><br />
                                <none-text ng-show="isShow ()" value="loader.data [1].data ['Tu106_Sex']"></none-text>
                                <div ng-show="isEdit ()">
                                    <input type="radio" id="malegender" name="gender" value="Male" ng-model="tmp ['Tu106_Sex']"><label for="malegender">Male</label>
                                    <input type="radio" id="femalegender" name="gender" value="Female" ng-model="tmp ['Tu106_Sex']"><label for="femalegender">Female</label>
                                </div>
                            </div>
                        </div>
                        <section-title>Contact information</section-title>
                        <div class="row">
                            <div class="col-12 text-center">
                                <h5>Visiting address</h5>
                            </div>
                            <div class="col-12 col-md-6 text-center text-md-right">
                                <small class="text-muted">Address Line 1</small><br />
                                <span ng-show="isShow ()">
                                    {{ loader.data [1].data ['Tu120_VisitingAddress1'] }}
                                </span>
                                <span ng-show="isEdit ()">
                                    <input type="text" class="form-control" ng-model="tmp ['Tu120_VisitingAddress1']" placeholder="Address 1" />
                                </span>
                            </div>
                            <div class="col-12 col-md-6 text-center text-md-left">
                                <small class="text-muted">Address Line 2</small><br />
                                <span ng-show="isShow ()">
                                    {{ loader.data [1].data ['Tu121_VisitingAddress2'] }}
                                </span>
                                <span ng-show="isEdit ()">
                                    <input type="text" class="form-control" ng-model="tmp ['Tu121_VisitingAddress2']" placeholder="Address 2" />
                                </span>
                            </div>
                            <div class="col-12 col-md-6 text-center text-md-right">
                                <small class="text-muted">State</small><br />
                                <span ng-show="isShow ()">{{ loader.data [1].data ['Tu123_VisitingCity'] }}, </span><span ng-show="isShow ()">{{ loader.data [1].data ['Tu124_VisitingState'] }}</span>
                                <input ng-show="isEdit ()" type="text" class="form-control" ng-model="tmp ['Tu123_VisitingCity']" placeholder="Visiting city" />
                                <select ng-show="isEdit ()" class="form-control" ng-model="tmp ['_id_StateVisiting']" ng-options="state._id as state.Sa100_Name for state in loader.data [0].data"></select>
                            </div>
                            <div class="col-12 col-md-6 text-center text-md-left">
                                <small class="text-muted">ZIP Code</small><br />
                                <span ng-show="isShow ()">{{ loader.data [1].data ['Tu122_VisitingZipCode'] }}</span>
                                <input ng-show="isEdit ()" type="text" class="form-control" ng-model="tmp ['Tu122_VisitingZipCode']" placeholder="ZIP Code" />
                            </div>
                            <div class="col-12 text-center mt-3">
                                <h5>Invoicing address</h5>
                            </div>
                            <div class="col-12 col-md-6 text-center text-md-right">
                                <small class="text-muted">Address Line 1</small><br />
                                <span ng-show="isShow ()">
                                    {{ loader.data [1].data ['Tu130_InvoiceAddress1'] }}
                                </span>
                                <span ng-show="isEdit ()">
                                    <input type="text" class="form-control" ng-model="tmp ['Tu130_InvoiceAddress1']" placeholder="Address 1" />
                                </span>
                            </div>
                            <div class="col-12 col-md-6 text-center text-md-left">
                                <small class="text-muted">Address Line 2</small><br />
                                <span ng-show="isShow ()">
                                    {{ loader.data [1].data ['Tu131_InvoiceAddress2'] }}
                                </span>
                                <span ng-show="isEdit ()">
                                    <input type="text" class="form-control" ng-model="tmp ['Tu131_InvoiceAddress2']" placeholder="Address 2" />
                                </span>
                            </div>
                            <div class="col-12 col-md-6 text-center text-md-right">
                                <small class="text-muted">State</small><br />
                                <span ng-show="isShow ()">{{ loader.data [1].data ['Tu133_InvoiceCity'] }}, </span><span ng-show="isShow ()">{{ loader.data [1].data ['Tu134_InvoiceState'] }}</span>
                                <input ng-show="isEdit ()" type="text" class="form-control" ng-model="tmp ['Tu133_InvoiceCity']" placeholder="Invoicing city" />
                                <select ng-show="isEdit ()" class="form-control" ng-model="tmp ['_id_StateInvoice']" ng-options="state._id as state.Sa100_Name for state in loader.data [0].data"></select>
                            </div>
                            <div class="col-12 col-md-6 text-center text-md-left">
                                <small class="text-muted">ZIP Code</small><br />
                                <span ng-show="isShow ()">{{ loader.data [1].data ['Tu132_InvoiceZipCode'] }}</span>
                                <input ng-show="isEdit ()" type="text" class="form-control" ng-model="tmp ['Tu132_InvoiceZipCode']" placeholder="ZIP Code" />
                            </div>
                            <div class="col-12 text-center mt-3">
                                <h6>Extra contact information</h6>
                            </div>
                            <div class="col-12 col-md-6 text-center text-md-right">
                                <small class="text-muted">Phone number (home)</small><br />
                                <none-text ng-show="isShow ()" value="loader.data [1].data ['Tu140_PhoneHome']"></none-text>
                                <input ng-show="isEdit ()" type="text" class="form-control" ng-model="tmp ['Tu140_PhoneHome']" placeholder="Home phone number" />
                            </div>
                            <div class="col-12 col-md-6 text-center text-md-left">
                                <small class="text-muted">Phone number (mobile)</small><br />
                                <none-text ng-show="isShow ()" value="loader.data [1].data ['Tu141_PhoneMobile']"></none-text>
                                <input ng-show="isEdit ()" type="text" class="form-control" ng-model="tmp ['Tu141_PhoneMobile']" placeholder="Mobile phone number" />
                            </div>
                            <div class="col-12 col-md-6 text-center text-md-right">
                                <small class="text-muted">Skype ID</small><br />
                                <a ng-show="isShow ()" ng-href="skype:{{ loader.data [1].data ['Tu142_SkypeID'] }}">{{ loader.data [1].data ['Tu142_SkypeID'] }}</a>
                                <input ng-show="isEdit ()" type="text" class="form-control" ng-model="tmp ['Tu142_SkypeID']" placeholder="SkypeID" />
                            </div>
                            <div class="col-12 col-md-6 text-center text-md-left">
                                <small class="text-muted">E-mail Address</small><br />
                                <a ng-show="isShow ()" ng-href="mailto:{{ loader.data [1].data ['Tu145_Email'] }}">{{ loader.data [1].data ['Tu145_Email'] }}</a>
                                <input ng-show="isEdit ()" type="text" class="form-control" ng-model="tmp ['Tu145_Email']" placeholder="Email address" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section-container>
</loader>
