<div>
    <ul class="nav flex-column left-nav">
        <li class="nav-item" ng-repeat="entry in menu">
            <a class="nav-link" ng-class="{'active': entry.active}" ng-click="navigate (entry)" href="#">
                <span ng-class="entry.icon"></span>
                <span ng-bind-html="trust (entry.html)" init-bind></span>
                {{ entry.text | translate }}
            </a>
        </li>
    </ul>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 pb-1 mb-0 border-bottom">
        Filters
        <button type="button" class="btn d-flex align-items-center text-white" data-target="#studentsNavigation" data-toggle="collapse" id="collapseButton">
            <span id="displayArrow" class="fa fa-angle-right active"></span>
        </button>
    </h6>
    <div id="studentsNavigation" class="collapse show">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1" ng-if="students.length > 0">Students</h6>
        <ul class="nav flex-column left-nav" ng-if="students.length > 0">
            <li class="nav-item" ng-repeat="entry in students">
                <a class="nav-link" ng-class="{'active': entry.active}" ng-click="change (entry)" href="#">
                    <span class="fa fa-user"></span> <input type="checkbox" checked ng-show="entry.active" /> <input type="checkbox" ng-hide="entry.active" />
                    {{ entry.name }}
                </a>
            </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1">Status</h6>
        <ul class="nav flex-column left-nav">
            <li class="nav-item">
                <a class="nav-link" ng-class="{'active': filter.cancelled}" ng-click="switchCancelledFilter ()" href="#">
                    <span class="fa"></span> <input type="checkbox" ng-model="filter.cancelled" />
                    Show not confirmed
                </a>
            </li>
        </ul>
    </div>

    <style type="text/css">
        <!--
        #displayArrow {
            transition: all 0.5s;
        }

        #displayArrow.active {
            transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
        }
        -->
    </style>
</div>
