<div class="col-lg-2 col-xl-1 d-none d-lg-block h-100 bg-dark sidebar p-0">
    <div class="">
        <ul class="nav flex-column">
            <li class="nav-item" ng-repeat="entry in menu">
                <a class="nav-link" ng-class="{'active': entry.active}" ng-click="navigate (entry)" href="#">
                    <span ng-class="entry.icon"></span>
                    <span ng-bind-html="trust (entry.html)" init-bind></span>
                    {{ entry.text | translate }}
                </a>
            </li>
        </ul>
    </div>
</div>
