<div class="col-12 d-lg-none px-0">
    <nav class="navbar navbar-dark bg-dark text-light">
        <a class="navbar-brand" href="#">Linkz</a>
        <button class="navbar-toggler collapsed float-right" type="button" data-toggle="collapse" data-target="#mobileNav" aria-controls="mobileNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="mobileNav" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" ng-repeat="entry in menu">
                    <a class="nav-link" ng-class="{'active': entry.active}" ng-click="navigate (entry)" href="#">
                        <span ng-class="entry.icon"></span>
                        <span ng-bind-html="trust (entry.html)" init-bind></span>
                        {{ entry.text | translate }}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
