<form class="form-signin text-center" ng-submit="doLogin ()">
    <img class="mb-4" src="/assets/img/login-logo.png" />
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputUsername" class="sr-only">Username</label>
    <input ng-model="userinfo.username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input ng-model="userinfo.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

<p class="alert alert-danger text-center" ng-show="errorOccurred">
    Wrong username or password
</p>
<p class="alert" ng-hide="errorOccurred">&nbsp;</p>
